/***************
***Author: bimoe
***Blog: 9499460.com
***Time: 2018-12-24 04:27:48
***************/
html,body {
  height: 100%;
}
button {
  height: 40px; width: 100%;
  font-size: x-large;
  margin-top: 13px;
}
.wrap {
  min-height: 100%;
}
.main {
  padding-bottom:90px;
}
.uatip {
  background: rgba(0,0,0,0.8);
  text-align: center; position: fixed;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  display: none;
}
.uatip-icon {
  width: 52px;
  height: 67px;
  background: url(../images/ua-tip.png) no-repeat;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}
.uatip-txt {
  margin-top:
    107px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.polaroid {
  margin: auto;
  width: 119px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  border-radius: 50%;
}
.logo {
  -webkit-transition: 0.4s;
  -webkit-transition:-webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
}
.logo:hover {
  transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
}
.footer {
  margin-top: -50px;
  height: 50px;z-index: 9999;
  padding: 15px 0 15px;
}
.btn-circle {
  border-radius: 50px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.id {
  width: 300px;
  margin:0 auto;
}
.info {
  padding-left: 0px;
  position: relative;
  top: 10px;
}